.contains {
    flex: 1; 
}
.MovieList{border-top-color: #ddd;border-top-width:1; margin-top:10; height: 40; padding: 4;justifyContent: center; background-color: #ffffff;}
.Button{ bottom: 0; position: absolute; width: 100% }
.rowBack{alignItems:center;flex:1;flexDirection:row;justifyContent:space-between}
.backRightBtn{bottom: 0;position: absolute;top: 0;right: 0}
.backTextWhite{ color: #ffffff; height: 40; margin-top:10; background-color: red; justifyContent: center; line-height: 40; width: 50; text-align: center;}
